h2 {
    text-align: left;
}
.bookListContainer {
    display: flex;
    flex-flow: column nowrap;
}
.bookContainer {
    display: flex;
    flex-flow: row nowrap;
    align-self: center;
}
.bookContainer:nth-of-type(odd) {
    background: #e0e0e0;
}
.bookContainer button {
    background: unset;
    border: none;
    cursor: pointer;
}
p.title {
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    padding-left: 6px;
    color: #2c3e50;
}
p.author {
    font-style: italic;
    text-align: left;
    padding-left: 12px;
    font-size: 16px;
}
section.selected {
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
    transition: all 0.05s ease-in;
    min-height: 200px;
    display: flex;
    flex-flow: row nowrap;
    gap: 100px;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    min-width: 300px;
}
.slide-in-enter-active,
.slide-in-leave-active {
    transition: all 0.5s ease;
}

.slide-in-enter,
.slide-in-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
.editBookInfo {
    width: 60%;
}
.itemDetailsContainer {
    display: flex;
    flex-flow: column nowrap;
    padding-right: 12px;
}
.itemDetailsContainer h3 {
    width: 80%;
    align-self: flex-end;
    text-align: left;
}
.itemDetailsContainer div {
    margin-bottom: 12px;
    display: flex;
    align-self: flex-end;
    width: 80%;
}
label {
    width: 40%;
    text-align: left;
}
input, textarea {
    width: 60%;
    min-width: 60%;
    max-width: 60%;
}
textarea {
    min-height: 50px;
}
.buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}
.buttonContainer button {
    min-width: 100px;
    min-height: 30px;
    color: #fff;
    border-radius: 4px;
    padding: 4px;
}
button.save {
    background: linear-gradient(90deg, rgba(68,179,21,1) 0%, rgba(25,182,59,1) 59%, rgba(17,144,42,1) 100%);
    animation: gradient 5s ease-in infinite;
    background-size: 400%;
    transition: box-shadow 0.1s ease-in;
}
button.save.disabled {
    pointer-events: none;
}
button.save[disabled] {
    background: gray;
    cursor: default;
}
button.delete {
    background: linear-gradient(90deg, rgba(196,63,23,1) 0%, rgba(182,67,25,1) 60%, rgba(158,54,21,1) 100%); 
}
@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 600px) {
    section {
        width: 100%;
    }
    section.selected {
        flex-flow: column nowrap;
        gap: 12px;
    }
    section button {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    p.title,
    p.author {
        padding-left: 0;
        width: 98%;
        align-self: flex-end;
    }
    section div.editBookInfo {
        width: 100%;
    }
    .itemDetailsContainer > div,
    .itemDetailsContainer h3 {
        width: 98%;
    }
}