.formContainer {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 30px;
    background: #d9d9d9;
  }
  .formContainer div {
    margin-bottom: 12px;
    display: flex;
    align-self: center;
    width: 60%;
    max-width: 800px;
  }
  label {
    width: 40%;
    text-align: left;
  }
  input, textarea {
    width: 60%;
    min-width: 60%;
    max-width: 60%;
  }
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
  }
  .buttonContainer button {
    min-width: 100px;
    min-height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    padding: 4px;
    color: #fff;
    background: linear-gradient(90deg, rgba(68,179,21,1) 0%, rgba(25,182,59,1) 59%, rgba(17,144,42,1) 100%);
    animation: gradient 5s infinite ease-in;
    background-size: 400%;
  }
  .buttonContainer button[disabled] {
    background: gray;
    cursor: default;
  }
    @keyframes gradient {
      0% {
          background-position: 0% 0%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
    }

@media (min-width: 800px) {
  label {
    width: 20%;
  }
  input, textarea {
    width: 80%;
    max-width: 80%;
    min-width: 80%;
  }
}
@media (max-width: 799px) {
  .formContainer > div {
    width: 95%;
  }
  label {
    width: 20%;
  }
  input, textarea {
    width: 80%;
    max-width: 80%;
    min-width: 80%;
  }
}
@media (max-width: 550px) {
  label {
    width: 30%;
  }
  input, textarea {
    width: 70%;
    max-width: 70%;
    min-width: 70%;
  }
}